@charset "utf-8";
body {
    background-color: rgb(20, 19, 19);
    }
h1 {
    text-align: center;
    color: aliceblue;

}
p {
    text-align: center;
    color: white;
}
a {
    color: white;
    text-decoration: white;
    font-size: large;
}



    

